$link-text-color: rgb(102, 153, 204);
$header-background-color:rgb(6,1,41);

*{
  box-sizing: border-box;
}
.navbar1{
  background-color: $header-background-color;
  height: 7vh;
  display: flex;
  align-items: center;
    ul{
      display: flex;
    }
}


.link{
  color: $link-text-color;
  padding: 10px;
  margin: 5px;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.link:hover {
  color: white;
  background-color: rgba(255,255,255,0.15);
}
.Lazy-hero h1{
  font-family: 'Questrial', sans-serif;
  color: white;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 3px;
}

#coin-body {
  height: 100%;
  background-color: $header-background-color;
}
